*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130vh;
    background: linear-gradient( #e8f0f7 35%, #4d5bf9 );
}

.container {
  height: 300px;
  width: 300px;
  background-color: #ffffff2a;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
  display: grid;
  place-items: center;
}

.circular-progress-tensao,
.circular-progress-vento,
.circular-progress-yaw,
.circular-progress-pitch,
.circular-progress-rpm {

  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress-tensao:before,
.circular-progress-vento:before,
.circular-progress-yaw:before,
.circular-progress-pitch:before,
.circular-progress-rpm:before {

  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}

.value-container-tensao,
.value-container-vento,
.value-container-yaw,
.value-container-pitch,
.value-container-rpm {
  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
