* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #262626;
}

.box {
    position: relative;
    border-radius: 20px;
    transform-style: preserve-3d;
   
}

.box .card {
    top: -100px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    /***Definindo a altura e a largura do card a baixo*/
    width: 400px;
    min-height: 400px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    background-image: url(./assets/img1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    transform-style: preserve-3d;
}

.elements {
    position: relative;
    top: 70px;
    left: -30px;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elements2 {
    position: relative;
    top: 330px;
    left: 330px;
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}



.elements.bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/left-quote.png);
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.elements2.bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./assets/left-quote.png);
    background-size: 60px;
    rotate: 180deg;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .elements.bg::before {
    opacity: 1;
}
.box:hover .elements2.bg::before {
    opacity: 1;
}