*{
  box-sizing: border-box;
}
.profile{
    display: flex;
    background-color: transparent;
    width: 150px;
    height: 60px;
    align-items: center;
    padding: 0 6px 0 6px;
    margin-left: 40px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid white;
    display: inline-flex;
    cursor: pointer;
  }

  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 3px;
  }

  .profile-container{
    flex: 1 0 0;
    text-align: center;
    color: white;
  }

  .sub-menu-profile-container{
    position: absolute;
    top: 100px;
    right: 5%;
    width: 320px;
    height: 320;
    
  }

  .sub-menu-profile{
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease; 
  }

  .sub-menu-profile h2{
    color: white;
    padding-left: 15px ;
  }

  .submenuactive{
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    backdrop-filter: blur(3px); 
    border: 2px solid white;
    transform: scale(1);
    
  }

  .user-info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .user-info img{
    width: 80px;
    height: 80px;
  }

.sub-menu-options{
    margin-top: 10px;
}

  .sub-menu-options  li{
    list-style: none;
    margin-bottom: 10px;
  }

  .sub-menu-options ol .itens-submenu{
    text-decoration: nome;
    color: rgb(0, 0, 0);
  }

  .sub-menu-options ol a:hover{
    text-decoration: underline;
  }

  hr{
    width: 100%;
    height: 1px;
    color: rgb(255, 255, 255);
    border: 0;
    background-color: white;
  }

  #fotoPerfil{
    width: 300px;
    height: 300px;
    display:flex;
  }

  #fotoPerfil #imgPerfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid rgb(93, 6, 119);
  }

  #fotoPerfil #cam-icon{
    position:relative;
    width: 30%;
    height: 30%;
    top: 210px;
    right: 100px;
    border-radius: 50%;
    cursor: pointer;
  }

  .container-info{
    display: flex;
    flex-direction: row;
    width: 600px;

    background-color: aqua;
    
  }

  .infoPerfil{
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding:  40px 10px 10px 40px ;

  }