*{
  box-sizing: border-box;
}
.profile{
    display: flex;
    background-color: transparent;
    width: 150px;
    height: 60px;
    align-items: center;
    padding: 0 6px 0 6px;
    margin-left: 40px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid white;
    display: inline-flex;
    cursor: pointer;
  }

  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 3px;
  }

  .profile-container{
    flex: 1 0 0;
    text-align: center;
    color: white;
  }


  .sub-menu-profile{
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease; 
    position: absolute;
    top: 100px;
    right: 5%;
    width: 320px;
    height: min-content;
  }

  .sub-menu-profile h2{
    color: white;
    padding-left: 15px ;
  }

  .submenuactive{
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    backdrop-filter: blur(3px); 
    border: 2px solid white;
    transform: scale(1);
    
  }

  .user-info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .user-info img{
    width: 80px;
    height: 80px;
  }

.sub-menu-options{
    margin-top: 10px;
}

  .sub-menu-options  li{
    list-style: none;
    margin-bottom: 10px;
    
  }

  .sub-menu-options ol .itens-submenu{
    text-decoration: nome;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }

  .sub-menu-options ol a:hover{
    text-decoration: underline;
  }

  hr{
    width: 100%;
    height: 1px;
    color: rgb(255, 255, 255);
    border: 0;
    background-color: white;
  }

  #fotoPerfil{
    width: 300px;
    display:flex;
    
  }

  #fotoPerfil #imgPerfil{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgb(93, 6, 119);
  }

  #fotoPerfil #cam-icon{
    position:relative;
    width: 90px;
    height: 90px;
    top: 210px;
    right: 100px;
    border-radius: 50%;
    cursor: pointer;
  }


  .infoPerfil{
    box-sizing: border-box;
    text-align: center;
    width: 25%;
    height: 30%;
    padding:  40px 20px 30px 20px ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.199);
    border: 1px solid white;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

  }

  .text-Perfil{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }

  .infoPerfil button, .form-Perfil input[type = submit]{
    background-color: #2b98a7; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

  }
  

  .buttons{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content:space-between;
    margin: 10px 0 10px 0;
  }

.Perfil{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 0px 15% 0 15%;

}

.choose-imagens{
    position: absolute;
    width: 70vw; 
    height: 50vh;
    background: #00000075;
    border: 1px solid rgba(255, 255, 255) ;
    border-radius: 20px;
    backdrop-filter: blur(3px); /*Efeito vidro jateado transparente*/
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    transform: scale(0); /*oculta a div para ela ser mostrada com o botão login do header*/
    transition: transform .5s ease, height .2s ease;
    color: white;
    padding: 20px;
}

.ativar{
  transform: scale(1);
}

.fotos-perfil{
  height: 100%;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 20px;
    
}

.foto-escolha {
  height: 300px;
  width: 33vw;
  background-color: #000000c9;
  display: flex;
  justify-content: center;
  align-items: center;

}

.foto-escolha img{
  
border-radius: 100%;
}

.foto-escolha >input{
  display: none; 
}

@media screen and (max-width: 860px) {
  .Perfil{
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
  }

  .img-perfil{
    margin-bottom: 20px;
  }
 
  #profileBtn{
    margin: 0;
  }
  .infoPerfil{
    width: 120%;
    height: 40%;
  }

  .infoPerfil button, .form-Perfil input[type = submit] {
    font-size: 15px;
  }
.fotos-perfil{  
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      
      
  }

  #fotoPerfil #imgPerfil {
    width: 150px;
    height: 150px;
  }

  #fotoPerfil #cam-icon{
    width: 60px;
    height: 60px;
    top: 100px;
    right: 65px;
  }

  #fotoPerfil{
    width: 150px;
  }

  .choose-imagens{
    width: 80vw;
  }
.foto-escolha{
  height: 70px;
  }

  .foto-escolha img{
    width: 50px;
    height: 50px;
  }

  .sub-menu-profile{
    top: 100%;
  }
}

/*SWITCH TEMA*/


.switch {
  margin-left: 11.44;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc38;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2.5px;
  bottom: 2.5px;
  background-color: rgb(221, 68, 30);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00000069;
}
input:checked + .slider:before {
  background-color: #fcfcfc;
}



input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}