.profile{
    display: flex;
    background-color: transparent;
    width: 150px;
    height: 60px;
    align-items: center;
    padding: 0 6px 0 6px;
    margin-left: 40px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid white;
    display: inline-flex;
    cursor: pointer;
  }

  .profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 3px;
  }

  .profile-container{
    flex: 1 0 0;
    text-align: center;
    color: white;
  }

  .sub-menu-profile-container{
    position: absolute;
    top: 100px;
    right: 60px;
    width: 320px;
  }

  .sub-menu-profile{
    background-color: transparent;
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    backdrop-filter: blur(3px); 
    border: 2px solid white;
  }

  .user-info{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .user-info img{
    width: 80px;
    height: 80px;
  }

.sub-menu-options{
    margin-top: 10px;
}

  .sub-menu-options  li{
    list-style: none;
    margin-bottom: 10px;
  }

  .sub-menu-options ol a{
    text-decoration: nome;
    color: white;
  }

  .sub-menu-options ol a:hover{
    text-decoration: underline;
  }

  hr{
    width: 100%;
    height: 1px;
    color: white;
    border: 0;
    background-color: white;
  }