.grupo-circular {
  /*background-color: #ff000096;*/
  border-radius: 15px;
  height: 88%;
  width: 95%;
  margin-top:10%;
  margin-bottom: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  
}
/*PROBLEMA DE POSICIONAMENTO RESOLVIDO!!*/

.containerCircular {
  height: 35%;
  width: 35%;
  background-color: #ffffff2a;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
  display: grid;
  place-items: center;
}


.circular-progress{

  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress::before{

  content: "";
  position: absolute;
  height:80%;
  width: 80%;
  border-radius: 50%;
  background-color: #ffffff;

}


.value-container {
  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 2.5vw;
  color: #231c3d;
  
}