
.box {
    /*position: relative;*/
    border-radius: 8%;
    transform-style: preserve-3d;
    height: 80%;
    width: 80%;
    max-width: 400px;
    left: 25%;
}

.box .card {
    top: -32%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 18%;
    /***Definindo a altura e a largura do card a baixo*/
    width: 65%;
    height: 65%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
    background-image: url(./imagens/img1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    transform-style: preserve-3d;
}

.elements {
    position: relative;
    top: 2%;
    left: -2%;
    width: 30%;
    height: 25%;
    background: rgb(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}

.elements2 {
    position: relative;
    top: 49%;
    left: 72%;
    width: 30%;
    height: 25%;
    background: rgb(255, 255, 255, 0.1);
    transform: translateZ(80px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.05);
}



.elements.bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./imagens/left-quote.png);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.elements2.bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(./imagens/left-quote.png);
    background-size: 40%;
    rotate: 180deg;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .elements.bg::before {
    opacity: 1;
}
.box:hover .elements2.bg::before {
    opacity: 1;
}