
.container-geral {
    width: 100%;
}



.container0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: red;
    
}

.container1 {
    height: 250px;
    width: 50%;
    background: blue;
}

.container2 {
    height: 250px;
    width: 50%;
    background: green;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .Cards { /*Mostramos na tela os CARDS*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 16vw;
    height: 14vw;
    background: #2a2a2adb;
    border-radius: 18%;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0. 15);

}

.container .Cards:hover { /*Com hover damos a animação*/
    height: 15vw;
}

.container .Cards .imgBx { /*Diferencia a parte da imagem com a do texto*/
    position: absolute;
    top: 17px;
    width: 12vw;
    height: 10vw;
    background: #3333331c;
    border-radius: 13%;
    overflow: hidden;
    transition: 0.05s;
}

.container .Cards .imgBx img { /*Colocar a imagem no lugar certo*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .Cards:hover .imgBx {  /*Hover no imgBx e diminui*/
    top: -6vw;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0. 10);
}

.container .Cards:hover .imgBx img { /*hover na imagem*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .Cards .content { /*Coloca oque está escrito para baixo e centraliza*/

    position: absolute;
    top: 11.8vw;
    width: 100%;
    padding: 0 30px;
    height: 1px;
    overflow: hidden;
    text-align: center;
    transition: 0.05s;
}

.container .Cards:hover .content {
    top: 4vw;
    height: 12vw;
}

.container .Cards .content h2 {
    font-size: 1.5vw;
    font-weight: 750;
    color: var(--clr);
}

.p {
    font-size: 1vw;
    margin-top: 0.25vw;
   
}

.container .link {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1.2vw;  
    height: 5.7vw;
    
    
}