/*
.grupo-circular {
  
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


.containerCircular {
  height: 50%;
  width: 300px;
  background-color: #ffffff2a;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(60, 60, 150, 0.25);
  display: grid;
  place-items: center;
}


.circular-progress{

  position: relative;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress:before {

  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #ffffff;
  border-radius: 50%;
}


.value-container {
  
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #231c3d;
}
*/

.containerCircular {
  background-color: #ffffff2a;
  border-radius: 8px;
  margin: 5px;
  padding: 20px;
  display: flex;
  row-gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.circular-progress{
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#0586ff 3.6deg, #5353533a 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  border-radius: 50%;
}


.value-container {
  position: relative;
  font-weight: 600;
  font-size: 20px;
}


