@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400&family=Lato&family=Noto+Sans:wght@400;700&family=Poppins:wght@300&family=Roboto+Condensed:ital@1&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
   /* background-color: #042844;*/
    /*min-height: 1500px;*/
    min-height: 100vh;
    background: url('assets/bg.png') no-repeat;   
    background-size: cover;
    background-position: center;
    
   

   
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;  
    cursor: pointer;

}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    /*font-size: 2rem;*/
    color: #fff;
    user-select: none;
    z-index: 99;
   
}
#catavento {
    position:relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    animation: girar 1.5s linear infinite;
}
  
#catavento path,circle,line {
    stroke: #fff;
    stroke-width: 5;
    fill: none;
}

/*Animação do LOGO*/
@keyframes girar {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}


.navigation{
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right; /*termina a animação do menu pela direita*/
    transform: scaleX(0);
    transition: transform .5s;

}

.navigation a:hover::after {
    transform-origin: left; /*começa a aminação pela esquerda*/
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 60px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s; /*Velocidade da animação do hover*/
}

.navigation .btnLogin-popup:hover {
    background: #ffffff5b;
    color: rgb(97, 1, 187);
}

/*********login div *********/

.wrapper {

    position: absolute;
    top: 25vh;   
    margin-left: -200px; /*centraliza*/
    width: 400px;
    height: 440px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255) ;
    border-radius: 20px;
    backdrop-filter: blur(3px); /*Efeito vidro jateado transparente*/
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    transform: scale(0); /*oculta a div para ela ser mostrada com o botão login do header*/
    transition: transform .5s ease, height .2s ease; /*Faz a janela aparecer suavemente*/
    z-index: 1;
}

/*recebe o comando do sj pelo botao login*/
.wrapper.ativar{

    transform: scale(1);
    /*quando clica o botao login o comando em js ativa este comando para */
    /*deixar a janela visivel*/
}




.wrapper .form-box login {
    width: 100%;
    height: 40px; 
}

.wrapper .form-box.login{
    /*display: none;*/
    width: 75%;
    transition: transform .18s ease; /**/
    transform: translateX(0);
    /*quando clica no link login da janela registrar */
    /*a div form-box login volta pro lugar 0*/
}

/*quando recebe o comando active do js desloca a di form-box para o lado*/
.wrapper.active .form-box.login{
    transition: none;
    width: 75%;
    transform: translateX(-400px);
  
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    /*display: none;*/
    width: 75%;
    transition: transform .18s ease; /**/
    transform: translateX(0);
    /*quando clica no link registrar da janela login */
    /*a div form-box register volta pro lugar 0*/
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ffffff9c;
    font-size: 2em;
    color: rgb(97, 1, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
    z-index: 1;
}


.form-box h2{
    font-size: 2em;
    color: rgba(255, 255, 255);
    text-align: center;
    user-select: none;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255);
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-10%);
    font-size: 1em;
    color: rgba(255,255,255);
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s; /*animação focus*/
}

textarea{
    position: relative;
    margin-top: 3vh;
    margin-bottom: 1vh;
    padding-inline: 2vw;
    padding-block: 1vh;
    background: transparent;
    color: rgba(255,255,255);
    border-color: rgb(255, 255, 255);
    outline-width: 0;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    resize: none;
}
textarea::placeholder {
    color: rgba(255,255,255);
}


/* animação do label digitar email e senha*/
.input-box input:focus~label , .input-box input:valid~label{
    top: -5px;
    opacity: 0%;
}



.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

.remember-forgot{
    font-size: 0.8em;
    font-weight: 500;
    margin: 15px 0 15px ;
    display: flex;
    justify-content: space-between;
}

.remember-forgot > label{
    color:#fff;
}

.remember-forgot > label input{
    accent-color:rgb(97, 1, 187);
    margin-right: 3px;
}

.remember-forgot > a{
    color:#fff;
    text-decoration: none; 
}

.remember-forgot a:hover{
    text-decoration: underline;
}

/********************* Botão ********************/
.btn{

    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    transition: .5s; /*Velocidade da animação do hover*/
}


.btn:hover{
background: #ffffff5b;
color: rgb(97, 1, 187);

}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 5px 0 10px;
}

.login-register p a {
    color:rgb(97, 1, 187);
    text-decoration: none;
    font-weight: 500;
}

.login-register p a:hover{
    text-decoration: underline;
}





/*------------------------------CONTROLE DAS DIVS------------------------------*/
.titulo-div{
    position: absolute;
    top:15px;
    left: 30px;
    font-size: 1em;
    color: rgba(255, 255, 255);
    text-align: center;
    user-select: none;
}


.caixa {
    position: absolute;
    top: 10vh;
    left: 4vw;
    width: 93vw;
    height: 85vh;
    background: transparent;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1;
}
.caixa-form {
    position: absolute;
    top: 18vh;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 10vh 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0,0,0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 1;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(255, 255, 255, 0.356);*/
}

.conteudo img {
    border-radius: 10px;
}

/*.inicio .titulo-div img {
    border-radius: 10px;
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}*/

/*quando clicar no link o javascript ativa esse atributo deixando a div visível*/
.caixa.ativar{
    transform: scale(1);   
}


.caixa .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ffffff9c;
    font-size: 2em;
    color: rgb(97, 1, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
    z-index: 1;
}

.caixa-form .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ffffff9c;
    font-size: 2em;
    color: rgb(97, 1, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 20px;
    cursor: pointer;
    z-index: 1;
}

.infoEolica {
    margin-top: 20px;
}


/****************** Effect Parallax ****************/

.imgBGx {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.imgBGx::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  /*  background: linear-gradient(to top, #042844, transparent);  MASCARA DA BRUMA NOTURNA*/
    pointer-events: none;
    z-index: -1;
}

.imgBGx::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #042844; /*MASCARA NOTURNA*/
    z-index: -1;
    pointer-events: none;
    mix-blend-mode: color;
}

.imgBGx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


/*********************Footer****************/

.copyright {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

/*********************Animações****************/

#bgfundo {
    animation: moveToLeft 10s ease-in ;
    animation-iteration-count: 1
    
}

@keyframes moveToLeft {
    0% {
       transform: translateX(-30px);
     }

      100% {
       transform: translateX(0px);
     }
   }

#bgwind {
    animation: moveToRight 6s ease-in ;
    animation-iteration-count: 1

}


@keyframes moveToRight {
    0% {
       transform: translateX(35px);
     }
   
      100% {
       transform: translateX(0px);
     }
}


/*************************************Menu hamburguer*****************************/

.hamburguer{
    align-self: flex-start;
}


/*barras do hamburger*/
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    opacity: 0;
}



/*****************************************media query************************************/

/*Diminuir o espaço e diminuir as letras*/
@media screen and (max-width: 860px) {
    .caixa {       
        top: 3vh;
        left: 1vw;
        width: 98vw;
        height: 92vh;       
    }

    .caixa-form {      
        top: 10vh;
        left: 50%;
        width: 90%;
        height: 80%;
        margin-left: -45%;
        padding: 10vh 20px;
    
    }

    .navigation a {        
        font-size: 0.9em;        
        margin-left: 2vw;
    }
    

    .logo {
        font-size: 1.5rem;     
    }

    .navigation .btnLogin-popup {
        width: 90px;
        height: 45px;
        font-size: 1.1em;
        margin-left: 2vw;
       
    }
    
    header {        
        padding: 20px 4vw;
        z-index: 1;  
    }

/*media tela de login*/

.wrapper {
    position: absolute;
    top: 5vh;   
    margin-left: -140px; /*centraliza*/
    width: 280px;
    height: 320px;

}
.wrapper.active .form-box.register { 
    width: 90%;
}

.wrapper .form-box.login{
    /*display: none;*/
    width: 90%;

}

.form-box h2{
    margin-top: 1vh;
    font-size: 1.3em;
}
/**********************/


}


/*transformar o menu em lista de linhas colum direction rows*/
/*tentar adicionar menu amburguer*/
@media screen and (max-width: 600px) {

 
    header {    
        display: flex;
        justify-content: flex;
        justify-content: space-between;
        align-items: center;       
    }

    nav.navigation{
        opacity: 0;
        height: 0;
        overflow: hidden;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;  
    
    
    }

    .navigation a {        
        font-size: 0.9em; 
        opacity: 0;
        transition: opacity 0.3s ease-in-out;  
           
    }


    .hamburguer{
        display: block;
        z-index: 20;
    }

    .bar {
        opacity: 1;
        z-index: 20;
    }

   
    
    .navigation.show {
        opacity: 1;
        height: auto;
    }
    
    .navigation.show a {
        opacity: 1;
        transition-delay: 0.3s;
        
    }

    .copyright {
        font-size: 1rem;
    }
  
}

@media only screen and (orientation: landscape) and (max-width: 900px){
    
    .caixa-form {      
        top: 1vh;
        left: 50%;
        width: 90%;
        height: 90%;
        margin-left: -45%;
        padding: 1vh 5px;        
    }

    textarea{
       
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-inline: 2vw;
        padding-block: 1vh;        
        font-size: 1em;
        height: 20vh;
     
    }


    .input-box{
        position: relative;
        width: 100%;
        height: 40px;
       
    }
    
    .input-box label{      
        font-size: 0.8em;
    }

    .input-box input{
      
        font-size: 1em;
        font-weight: 600;
        padding: 0 25px 0 5px;
    }

   
/*media tela de login*/

.wrapper {
    position: absolute;
    top: 5vh;   
    margin-left: -140px; /*centraliza*/
    width: 280px;
    height: 320px;

}
.wrapper.active .form-box.register { 
    width: 90%;
}

.wrapper .form-box.login{
    /*display: none;*/
    width: 90%;

}

.form-box h2{
    margin-top: 1vh;
    font-size: 1.3em;
}
/**********************/

    
}