/************************************************************css do login dark ***************************************************************************/

.container-dark{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-dark .card {
    position: relative;
    width: auto;
    height: auto;
    background: #2a2a2adb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    padding: 3vw;

}

.container-dark .card .percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.container-dark .card .percent svg {
    position: relative;
    width: 150px;
    height: 150px; 
    transform: rotate(270deg);
}

.container-dark .card .percent svg circle {
    width: 100px;
    height: 100px;  
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px,5px);

}


.container-dark .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;    
    stroke-dashoffset: calc(440 - (440 * var(--num)/100));   
    opacity: 0;     
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    
}

@keyframes fadeIn {
    0% {
        opacity: 0;        
    }
    100% {
        opacity: 1;    
    }
}

.dot {
   position: absolute;
   inset: 5px; 
   z-index: 10;   
   animation: animateDot 2s linear forwards;  
   
}

@keyframes animateDot {
    0% {
        transform: rotate(calc(3.6deg * var(--atual)));
        
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}


.dot:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr) ;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
   
   
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-weight: 700;
    font-size: 2.5em;
}

.number span h3{
    font-weight: 300;
    color: aliceblue;
    font-size: 0.75em;
}

.number p {
    font-weight: 300;
    font-size: 0.85em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}



@media screen and (max-width: 600px) {
    .container-dark .card {
        padding: 0;
        gap: 10px;
    }

}

@media screen and (max-height: 500px) {
    .container-dark .card {
        padding: 0;
    }
    .container-dark {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        scale: 0.9;
    }

}
